In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime as dt

import plotly
plotly.tools.set_credentials_file(username='cathyhax', api_key='COw0zzFdojAcwZdDIdtf')

import plotly.plotly as py
import plotly.graph_objs as go

from ratings import Elo

In [2]:
fixtures = pd.read_csv('fixtures.csv')

In [3]:
#Use Champions League to test
fixtures_f = fixtures[(fixtures['league_name'] == 'Champions League') | (fixtures['league_name'] == 'Bundesliga')]

In [ ]:
champions_league_elo = Elo()

In [ ]:
champions_league_elo.calculate_elo(fixtures, 30, results_by_league = True)

Prepping data...
Starting calculations...

In [8]:
champions_league_elo.ratings_teams

                  team_name       rating
team_id
3468.0          Real Madrid  1827.136538
83.0              Barcelona  1761.262759
503.0        Bayern München  1758.701080
625.0              Juventus  1729.242220
591.0                   PSG  1693.034830
7980.0      Atlético Madrid  1688.390290
18.0                Chelsea  1647.536898
19.0                Arsenal  1643.985019
14.0      Manchester United  1639.765586
8.0               Liverpool  1631.079154
9.0         Manchester City  1619.833838
3562.0             Bordeaux  1600.347105
6.0       Tottenham Hotspur  1597.051738
652.0                 Porto  1584.435801
37.0                   Roma  1579.276747
349.0        Legia Warszawa  1574.997657
676.0               Sevilla  1574.401943
510.0             Wolfsburg  1572.659338
49.0               Salzburg  1572.358313
3321.0     Bayer Leverkusen  1571.945832
109.0            Fiorentina  1568.999761
67.0             Schalke 04  1563.627365
2963.0                Zenit  1557.880421
554.0              Beşiktaş  1555.929197
516.0    Hapoel Be'er Sheva  1553.747652
621.0      Shakhtar Donetsk  1553.666995
2930.0       Internazionale  1550.161348
85.0              København  1549.543912
3859.0                 BATE  1548.106922
331.0          Wisła Kraków  1546.262398
...                     ...          ...
5495.0            Alashkert  1454.619660
700.0        Standard Liège  1454.316011
5390.0            Ventspils  1454.276305
34.0            Galatasaray  1453.852959
88.0             Fenerbahçe  1453.635848
1001.0             Žalgiris  1452.670330
6213.0             Zrinjski  1452.304636
260.0              Linfield  1451.489105
3682.0              Auxerre  1451.133139
1355.0         Cliftonville  1450.404793
3293.0          Zeljeznicar  1449.700702
579.0        The New Saints  1444.923029
1820.0            Crusaders  1444.783144
5444.0            Tre Fiori  1442.583990
73.0              Feyenoord  1442.367159
627.0               Sheriff  1441.967542
57.0          Panathinaikos  1441.513703
2530.0            Bursaspor  1440.322642
847.0            La Fiorita  1438.674471
2555.0           Anderlecht  1438.437362
647.0            Young Boys  1437.794298
62.0                Rangers  1434.780189
803.0                Otelul  1434.123923
3599.0             CFR Cluj  1427.836741
147.0              Valletta  1426.327940
3712.0             Sutjeska  1426.217500
3477.0           Villarreal  1425.876693
340.0           Club Brugge  1408.343234
1401.0        F91 Dudelange  1400.703956
7058.0      FC Santa Coloma  1385.514395

[260 rows x 2 columns]

In [23]:
team_fixture_r = champions_league_elo.ratings_teams_fixtures

In [24]:
fixtures = fixtures.join(champions_league_elo.ratings_fixtures)

In [28]:
RM_fixture_r = team_fixture_r[team_fixture_r['team_name'] == 'Barcelona']

In [32]:
teams = team_fixture_r.team_name.unique()

In [46]:
data = []

for team in teams:
    team_data = team_fixture_r[team_fixture_r['team_name'] == team]
    team_trace = go.Scatter(
        x = team_data.order,
        y = team_data.team_r,
        name = team,
        opacity = 0.8)
    data.append(team_trace)

In [47]:
fig = dict(data = data)
py.iplot(data)