In [159]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [160]:
# import data
fixtures = pd.read_csv('fixtures.csv')

conditions = [
    fixtures['localteam_score'] > fixtures['visitorteam_score'],
    fixtures['visitorteam_score'] > fixtures['localteam_score'],
    fixtures['localteam_score'] == fixtures['visitorteam_score']
]
choices = [ 1, 0, 0.5 ]
fixtures['outcome'] = np.select(conditions, choices)

In [161]:
# we can use champions league to test; 
fixtures = fixtures[np.isnan(fixtures['localteam_id']) == False]
fixtures['localteam_id'] = fixtures['localteam_id'].apply(np.int)
fixtures = fixtures[fixtures['league_name'] == 'Champions League']

In [162]:
#rank fixtures played by each team
localteam_fixtures = fixtures[['localteam_id', 'fixture_id', 'starting_datetime']] \
                        .rename(index=str, columns={'localteam_id': 'team_id'})
visitorteam_fixtures = fixtures[['visitorteam_id', 'fixture_id', 'starting_datetime']] \
                        .rename(index=str, columns={'visitorteam_id': 'team_id'})
                          
frames = [localteam_fixtures, visitorteam_fixtures]
combined_fixtures = pd.concat(frames).reset_index()

combined_fixtures['fixture_order'] = combined_fixtures.groupby('team_id')['starting_datetime'].rank(ascending=True, method='min')
combined_fixtures = combined_fixtures.sort_values(['team_id','fixture_order'])
combined_fixtures['next_fixture'] = combined_fixtures.groupby('team_id')['fixture_id'].shift(-1)

In [163]:
fixtures = pd.merge(fixtures, combined_fixtures[['fixture_order', 'fixture_id', 'team_id', 'next_fixture']],\
                    how='left', left_on=['localteam_id','fixture_id'], right_on = ['team_id','fixture_id'])\
                .drop(['team_id'], axis=1)\
                .rename(index=str, columns={'fixture_order': 'localteam_order', 'next_fixture': 'localteam_next'})

fixtures = pd.merge(fixtures, combined_fixtures[['fixture_order', 'fixture_id', 'team_id', 'next_fixture']],\
            how='left', left_on=['visitorteam_id','fixture_id'], right_on = ['team_id','fixture_id'])\
        .drop(['team_id'], axis=1)\
        .rename(index=str, columns={'fixture_order': 'visitorteam_order', 'next_fixture': 'visitorteam_next'})

In [164]:
fixtures_f = fixtures

#fixtures_f.drop('cur_team_r', axis=1, inplace=True)
#fixtures_f.drop('opp_team_r', axis=1, inplace=True)
#fixtures_f.drop('cur_team_r', axis=1, inplace=True)
#fixtures_f.drop('opp_team_r', axis=1, inplace=True)
#fixtures_f.drop('cur_p', axis=1, inplace=True)
#fixtures_f.drop('opp_p', axis=1, inplace=True)
#fixtures_f.drop('cur_post_r', axis=1, inplace=True)
#fixtures_f.drop('opp_post_r', axis=1, inplace=True)

fixtures_f['localteam_r'] = np.nan
fixtures_f['visitorteam_r'] = np.nan
fixtures_f['localteam_post_r'] = np.nan
fixtures_f['visitorteam_post_r'] = np.nan

In [165]:
fixtures_f['localteam_r'].isnull().sum()

2028

In [166]:
def Probability(rating1, rating2):
    p1_w = 1.0 * 1.0 / (1 + 1.0 * math.pow(10, 1.0 * (rating2 - rating1) / 400))
    p2_w = 1.0 * 1.0 / (1 + 1.0 * math.pow(10, 1.0 * (rating1 - rating2) / 400))
 
    return p1_w, p2_w

def EloRating(Ra, Rb, K, d):

    # Calculate winning probabilities
    Pa, Pb = Probability(Ra, Rb)
 
    # Case -1 When Player A wins
    # Updating the Elo Ratings
    if (d == 1) :
        Ra = Ra + K * (1 - Pa)
        Rb = Rb + K * (0 - Pb)    
 
    # Case -2 When Player B wins
    # Updating the Elo Ratings
    elif (d == 0.5):
        Ra = Ra + K * (0.5 - Pa)
        Rb = Rb + K * (0.5 - Pb)
        
    else:
        Ra = Ra + K * (0 - Pa)
        Rb = Rb + K * (1 - Pb)   
    
    return Pa, Pb, Ra, Rb
     
    ##    print("Updated Ratings:-")
    ##    print("Ra =", round(Ra, 6)," Rb =", round(Rb, 6))

In [ ]:
def test(data):
    K = 30
    
    nulls = data['localteam_r'].isnull().sum() + data['visitorteam_r'].isnull().sum()
    print(nulls)
    
    while nulls > 0:

        for index, row in data.iterrows():
            fixture_id = row['fixture_id']
            localteam_id = row['localteam_id']
            visitorteam_id = row['visitorteam_id']
            localteam_next = row['localteam_next']
            visitorteam_next = row['visitorteam_next']
            
#            if np.isnan(row['localteam_r']) == False & np.isnan(row['visitorteam_r']) == False & \
#                np.isnan(row['localteam_post_r']) == False & np.isnan(row['visitorteam_post_r']) == False:
#                return

            if (row['localteam_order'] == 1 & np.isnan(row['localteam_r'])) | (row['visitorteam_order'] == 1 & np.isnan(row['visitorteam_r'])):
                if row['localteam_order'] == 1 & np.isnan(row['localteam_r']):
                    data.loc[(data['fixture_id'] == fixture_id), 'localteam_r'] = 1500
                elif row['visitorteam_order'] == 1 & np.isnan(row['visitorteam_r']):
                    data.loc[(data['fixture_id'] == fixture_id), 'visitorteam_r'] = 1500
            
            elif np.isnan(row['localteam_r']) == False & np.isnan(row['visitorteam_r']) == False & \
                np.isnan(row['localteam_post_r']) & np.isnan(row['visitorteam_post_r']):
                    
                #print("evaluating fixture %d" % (fixture_id))
                
                #calculate ratings
                localteam_p, visitorteam_p, localteam_post_r, visitorteam_post_r = EloRating(row['localteam_r'], row['visitorteam_r'], K, row['outcome'])
                
                #assign probabilities for current game and post-game ratings
                data.loc[(data['fixture_id'] == fixture_id), 'localteam_p'] = localteam_p
                data.loc[(data['fixture_id'] == fixture_id), 'visitorteam_p'] = visitorteam_p
                data.loc[(data['fixture_id'] == fixture_id), 'localteam_post_r'] = localteam_post_r
                data.loc[(data['fixture_id'] == fixture_id), 'visitorteam_post_r'] = visitorteam_post_r
                
                #print('the localteam id is %d' % (localteam_id))
                #print('the visitorteam id is %d' % (visitorteam_id))
                
                #bring post-game ratings to next game
                if np.isnan(localteam_next) == False:    
                    l_next_localteam_id = data[data['fixture_id'] == localteam_next]['localteam_id'][0]
                    l_next_visitorteam_id = data[data['fixture_id'] == localteam_next]['visitorteam_id'][0]
                    
                    if localteam_id == 3444 | visitorteam_id == 3444:
                        print(fixture_id)
                        print(l_next_localteam_id)
                        print(l_next_visitorteam_id)
                        print(localteam_r)
                        print(visitorteam_r)
                    
                    if localteam_id == l_next_localteam_id:
                        data.loc[(data['fixture_id'] == localteam_next), 'localteam_r'] = localteam_post_r
                    else:
                        data.loc[(data['fixture_id'] == localteam_next), 'visitorteam_r'] = localteam_post_r
                    
                if np.isnan(visitorteam_next) == False:
                    v_next_localteam_id = data[data['fixture_id'] == visitorteam_next]['localteam_id'][0]
                    v_next_visitorteam_id = data[data['fixture_id'] == visitorteam_next]['visitorteam_id'][0]
                   
                    if visitorteam_id == v_next_localteam_id:
                        data.loc[(data['fixture_id'] == visitorteam_next), 'localteam_r'] = visitorteam_post_r
                    else:
                        data.loc[(data['fixture_id'] == visitorteam_next), 'visitorteam_r'] = visitorteam_post_r
                
                #print(l_next_localteam_id)
                #print(l_next_visitorteam_id)
                
        test(data)

In [ ]:
test(fixtures_f)

4056
3848
3796
3692
3612
3554
3506
3450
3408
3364
3328
3282
3235
3191
3153
3115
3079
3042
3012
2983
2952
2923
2889
2853
2813
2768
2729
2693
2660
2632
2599
2567
2540
2515
2491
2467
2443
2413
2383
2354
2329
2305
2277
2249
2224
2202
2178
2153
2123
2094
2064
2031
2005
1979
1958
1937
1913
1890
1868
1847
1821
1790
1748
1705
1660
1618
1585
1554
1527
1504
1484
1464
1437
1413
1383
1353
1322
1289
1257
1225
1193
1163
1127
1098
1066

In [150]:
fixtures_f[(fixtures_f['localteam_id']==3444) | (fixtures_f['visitorteam_id']==3444)].sort_values('starting_datetime')

,fixture_id,localteam_id,localteam_name,visitorteam_id,visitorteam_name,localteam_score,visitorteam_score,starting_datetime,league_name,country_name,...,localteam_order,localteam_next,visitorteam_order,visitorteam_next,localteam_r,visitorteam_r,localteam_post_r,visitorteam_post_r,localteam_p,visitorteam_p
1905,1060581,34,Galatasaray,3444,FCSB,2,2,2008-08-13 18:15:00,Champions League,Romania,...,1.0,1060604.0,1.0,1060604.0,1500.0000,1500.0000,1500.000000,1500.000000,0.500000,0.500000
1921,1060604,3444,FCSB,34,Galatasaray,1,0,2008-08-27 17:45:00,Champions League,Turkey,...,2.0,1058982.0,2.0,1058900.0,1500.0000,1500.0000,1515.000000,1485.000000,0.500000,0.500000
1944,1058982,3444,FCSB,503,Bayern München,0,1,2008-09-17 18:45:00,Champions League,Germany,...,3.0,1059046.0,1.0,1059038.0,1485.0000,1500.0000,1470.647200,1514.352800,0.478427,0.521573
1952,1059046,109,Fiorentina,3444,FCSB,0,0,2008-09-30 18:45:00,Champions League,Romania,...,4.0,1059183.0,4.0,1059172.0,1514.3528,1470.6472,1512.475768,1472.524232,0.562568,0.437432
1967,1059172,3444,FCSB,79,Olympique Lyonnais,3,5,2008-10-21 18:45:00,Champions League,France,...,5.0,1059377.0,5.0,1059377.0,NaN,NaN,NaN,NaN,NaN,NaN
1991,1059377,79,Olympique Lyonnais,3444,FCSB,2,0,2008-11-05 19:45:00,Champions League,Romania,...,6.0,1059441.0,6.0,1059448.0,NaN,NaN,NaN,NaN,NaN,NaN
2000,1059448,503,Bayern München,3444,FCSB,3,0,2008-11-25 19:45:00,Champions League,Romania,...,5.0,1059622.0,7.0,1059605.0,NaN,NaN,NaN,NaN,NaN,NaN
2017,1059605,3444,FCSB,109,Fiorentina,0,1,2008-12-10 19:45:00,Champions League,Italy,...,8.0,1061742.0,8.0,1059080.0,NaN,NaN,NaN,NaN,NaN,NaN
648,1061742,3444,FCSB,5492,Vardar,3,0,2013-07-16 17:45:00,Champions League,Macedonia FYR,...,9.0,1061752.0,1.0,1061752.0,NaN,1500.0000,NaN,NaN,NaN,NaN
668,1061752,5492,Vardar,3444,FCSB,1,2,2013-07-23 18:45:00,Champions League,Romania,...,2.0,1061617.0,10.0,1061298.0,NaN,NaN,NaN,NaN,NaN,NaN
676,1061298,3451,Dinamo Tbilisi,3444,FCSB,0,2,2013-07-30 16:00:00,Champions League,Romania,...,7.0,1061309.0,11.0,1061309.0,NaN,NaN,NaN,NaN,NaN,NaN
691,1061309,3444,FCSB,3451,Dinamo Tbilisi,1,1,2013-08-06 17:45:00,Champions League,Georgia,...,12.0,1061214.0,8.0,1061861.0,NaN,NaN,NaN,NaN,NaN,NaN
712,1061214,3444,FCSB,349,Legia Warszawa,1,1,2013-08-21 18:45:00,Champions League,Poland,...,13.0,1061225.0,5.0,1061225.0,NaN,NaN,NaN,NaN,NaN,NaN
717,1061225,349,Legia Warszawa,3444,FCSB,2,2,2013-08-27 18:45:00,Champions League,Romania,...,6.0,1061917.0,14.0,1059032.0,NaN,NaN,NaN,NaN,NaN,NaN
737,1059032,67,Schalke 04,3444,FCSB,3,0,2013-09-18 18:45:00,Champions League,Romania,...,23.0,1059128.0,15.0,1059136.0,NaN,NaN,NaN,NaN,NaN,NaN
743,1059136,3444,FCSB,18,Chelsea,0,4,2013-10-01 18:45:00,Champions League,England,...,16.0,1059281.0,45.0,1059291.0,NaN,NaN,NaN,NaN,NaN,NaN
760,1059281,3444,FCSB,468,Basel,1,1,2013-10-22 18:45:00,Champions League,Switzerland,...,17.0,1059541.0,33.0,1059541.0,NaN,NaN,NaN,NaN,NaN,NaN
785,1059541,468,Basel,3444,FCSB,1,1,2013-11-06 19:45:00,Champions League,Romania,...,34.0,1059636.0,18.0,1059626.0,NaN,NaN,NaN,NaN,NaN,NaN
790,1059626,3444,FCSB,67,Schalke 04,0,0,2013-11-26 19:45:00,Champions League,Germany,...,19.0,1060995.0,27.0,1060985.0,NaN,NaN,NaN,NaN,NaN,NaN
814,1060995,18,Chelsea,3444,FCSB,1,0,2013-12-11 19:45:00,Champions League,Romania,...,49.0,1058901.0,20.0,1061895.0,NaN,NaN,NaN,NaN,NaN,NaN
444,1061895,313,Strømsgodset,3444,FCSB,0,1,2014-07-16 17:30:00,Champions League,Romania,...,1.0,1061904.0,21.0,1061904.0,1500.0000,NaN,NaN,NaN,NaN,NaN
460,1061904,3444,FCSB,313,Strømsgodset,2,0,2014-07-23 17:30:00,Champions League,Norway,...,22.0,1061338.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,1061338,2361,Aktobe,3444,FCSB,2,2,2014-07-30 15:00:00,Champions League,Romania,...,13.0,1061348.0,23.0,1061348.0,NaN,NaN,NaN,NaN,NaN,NaN
487,1061348,3444,FCSB,2361,Aktobe,2,1,2014-08-06 17:30:00,Champions League,Kazakhstan,...,24.0,1061086.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,1061086,3444,FCSB,2742,Ludogorets,1,0,2014-08-19 18:45:00,Champions League,Bulgaria,...,25.0,1061096.0,11.0,1061096.0,NaN,NaN,NaN,NaN,NaN,NaN
511,1061096,2742,Ludogorets,3444,FCSB,1,0,2014-08-27 18:45:00,Champions League,Romania,...,12.0,1058970.0,26.0,1061789.0,NaN,NaN,NaN,NaN,NaN,NaN
1277,1061789,2759,Trenčín,3444,FCSB,0,2,2015-07-14 18:30:00,Champions League,Romania,...,1.0,1061800.0,27.0,1061800.0,1500.0000,NaN,NaN,NaN,NaN,NaN
1494,1061800,3444,FCSB,2759,Trenčín,2,3,2015-07-22 18:30:00,Champions League,Slovakia,...,28.0,1061514.0,2.0,1062020.0,NaN,NaN,NaN,NaN,NaN,NaN
1340,1061514,3444,FCSB,2736,Partizan,1,1,2015-07-29 18:30:00,Champions League,Serbia,...,29.0,1061525.0,35.0,1061525.0,NaN,NaN,NaN,NaN,NaN,NaN
1309,1061525,2736,Partizan,3444,FCSB,4,2,2015-08-05 18:30:00,Champions League,Romania,...,36.0,1061089.0,30.0,1061445.0,NaN,NaN,NaN,NaN,NaN,NaN
142,1061445,2727,Sparta Praha,3444,FCSB,1,1,2016-07-26 18:00:00,Champions League,Romania,...,19.0,1061456.0,31.0,1061456.0,NaN,NaN,NaN,NaN,NaN,NaN
159,1061456,3444,FCSB,2727,Sparta Praha,2,0,2016-08-03 17:45:00,Champions League,Czech Republic,...,32.0,1061229.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,1061229,3444,FCSB,9,Manchester City,0,5,2016-08-16 18:45:00,Champions League,England,...,33.0,1061242.0,35.0,1061242.0,NaN,NaN,NaN,NaN,NaN,NaN
186,1061242,9,Manchester City,3444,FCSB,1,0,2016-08-24 18:45:00,Champions League,Romania,...,36.0,1059131.0,34.0,3239776.0,NaN,NaN,NaN,NaN,NaN,NaN
1454,3239776,3444,FCSB,3545,Viktoria Plzeň,2,2,2017-07-25 20:30:00,Champions League,Czech Republic,...,35.0,3239777.0,31.0,3239777.0,NaN,NaN,NaN,NaN,NaN,NaN
1326,3239777,3545,Viktoria Plzeň,3444,FCSB,1,4,2017-08-02 21:15:00,Champions League,Romania,...,32.0,NaN,36.0,5402573.0,NaN,NaN,NaN,NaN,NaN,NaN
1522,5402573,58,Sporting CP,3444,FCSB,0,0,2017-08-15 18:45:00,Champions League,Romania,...,25.0,5402574.0,37.0,5402574.0,NaN,NaN,NaN,NaN,NaN,NaN
1217,5402574,3444,FCSB,58,Sporting CP,1,5,2017-08-23 18:45:00,Champions League,Portugal,...,38.0,NaN,26.0,5932766.0,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
fixtures_f[(fixtures_f['localteam_order'] == 2) | (fixtures_f['visitorteam_order'] == 2)]

,fixture_id,localteam_id,localteam_name,visitorteam_id,visitorteam_name,localteam_score,visitorteam_score,starting_datetime,league_name,country_name,...,localteam_order,localteam_next,visitorteam_order,visitorteam_next,localteam_r,visitorteam_r,localteam_post_r,visitorteam_post_r,localteam_p,visitorteam_p
3,10340559,10068,Newcastle FC,148038,Drita,1,1,2018-06-29 18:30:00,Champions League,Kosovo,...,12.0,NaN,2.0,10341793.0,NaN,NaN,NaN,NaN,NaN,NaN
7,10336090,2604,APOEL,5878,Sūduva,1,0,2018-07-17 17:00:00,Champions League,Lithuania,...,62.0,NaN,2.0,10362022.0,NaN,NaN,NaN,NaN,NaN,NaN
10,10336100,349,Legia Warszawa,326,Cork City,3,0,2018-07-17 19:00:00,Champions League,Republic of Ireland,...,28.0,10364237.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,10336112,6213,Zrinjski,3283,Spartak Trnava,1,1,2018-07-18 17:00:00,Champions League,Slovakia,...,10.0,NaN,2.0,10364237.0,NaN,NaN,NaN,NaN,NaN,NaN
36,10336086,627,Sheriff,2671,Torpedo Kutaisi,3,0,2018-07-18 17:00:00,Champions League,Georgia,...,32.0,10364270.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,1062118,5495,Alashkert,7058,FC Santa Coloma,3,0,2016-07-05 15:00:00,Champions League,Andorra,...,2.0,1061737.0,14.0,1818602.0,NaN,NaN,NaN,NaN,NaN,NaN
125,1061893,6142,Liepāja,49,Salzburg,0,2,2016-07-19 16:00:00,Champions League,Austria,...,2.0,NaN,22.0,1061486.0,NaN,NaN,NaN,NaN,NaN,NaN
126,1061791,627,Sheriff,516,Hapoel Be'er Sheva,0,0,2016-07-19 17:00:00,Champions League,Israel,...,26.0,1818634.0,2.0,1061695.0,NaN,NaN,NaN,NaN,NaN,NaN
128,1061832,826,SJK,3859,BATE,2,2,2016-07-19 17:00:00,Champions League,Belarus,...,2.0,NaN,60.0,1061424.0,NaN,NaN,NaN,NaN,NaN,NaN
130,1061854,2673,Crvena Zvezda,147,Valletta,2,1,2016-07-19 18:30:00,Champions League,Malta,...,2.0,1061400.0,12.0,10336103.0,NaN,NaN,NaN,NaN,NaN,NaN
132,1061974,11800,Mladost,2742,Ludogorets,0,3,2016-07-19 18:45:00,Champions League,Bulgaria,...,2.0,NaN,22.0,1061400.0,NaN,NaN,NaN,NaN,NaN,NaN
135,1061954,3603,Norrköping,1335,Rosenborg,3,2,2016-07-20 17:15:00,Champions League,Norway,...,2.0,NaN,12.0,1061611.0,NaN,NaN,NaN,NaN,NaN,NaN
136,1062009,112,Ferencváros,5197,Partizani Tirana,1,1,2016-07-20 17:30:00,Champions League,Albania,...,2.0,NaN,2.0,1061486.0,1500.000000,1500.000000,1500.000000,1500.000000,0.500000,0.500000
137,1062029,2759,Trenčín,1453,Olimpija,2,3,2016-07-20 18:15:00,Champions League,Slovenia,...,4.0,1061654.0,2.0,10336091.0,NaN,NaN,NaN,NaN,NaN,NaN
160,1061644,85,København,1094,Astra,3,0,2016-08-03 17:45:00,Champions League,Romania,...,36.0,1061187.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,1061517,2555,Anderlecht,6564,Rostov,0,2,2016-08-03 18:45:00,Champions League,Russia,...,24.0,5932761.0,2.0,1061252.0,NaN,NaN,NaN,NaN,NaN,NaN
210,1059280,42,Leicester City,652,Porto,1,0,2016-09-27 18:45:00,Champions League,Portugal,...,2.0,1059436.0,56.0,1059447.0,NaN,NaN,NaN,NaN,NaN,NaN
330,1059265,683,Borussia M'gladbach,9,Manchester City,1,2,2015-09-30 18:45:00,Champions League,England,...,2.0,1059429.0,24.0,1059439.0,NaN,NaN,NaN,NaN,NaN,NaN
426,1061948,5487,Banants,7058,FC Santa Coloma,3,2,2014-07-08 14:00:00,Champions League,Andorra,...,2.0,NaN,8.0,1061691.0,NaN,NaN,NaN,NaN,NaN,NaN
427,1061968,4400,Levadia,847,La Fiorita,7,0,2014-07-08 16:00:00,Champions League,San Marino,...,10.0,1061734.0,2.0,1818604.0,NaN,NaN,NaN,NaN,NaN,NaN
428,1061985,8678,HB,10068,Newcastle FC,5,2,2014-07-08 18:00:00,Champions League,Gibraltar,...,6.0,1061754.0,2.0,1061970.0,NaN,NaN,NaN,NaN,NaN,NaN
449,1061597,5317,Qarabağ,147,Valletta,4,0,2014-07-22 16:30:00,Champions League,Malta,...,2.0,1061359.0,8.0,1062087.0,NaN,NaN,NaN,NaN,NaN,NaN
454,1061786,1001,Žalgiris,674,Dinamo Zagreb,0,2,2014-07-22 18:15:00,Champions League,Croatia,...,2.0,1061872.0,34.0,1061527.0,NaN,NaN,NaN,NaN,NaN,NaN
456,1061828,53,Celtic,8673,KR,4,0,2014-07-22 18:45:00,Champions League,Iceland,...,29.0,1061567.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,1061904,3444,FCSB,313,Strømsgodset,2,0,2014-07-23 17:30:00,Champions League,Norway,...,22.0,1061338.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,1061928,1260,St Patrick's,349,Legia Warszawa,0,5,2014-07-23 18:45:00,Champions League,Poland,...,2.0,NaN,8.0,1061567.0,NaN,NaN,NaN,NaN,NaN,NaN
482,1061390,2963,Zenit,611,AEL,3,0,2014-08-06 16:00:00,Champions League,Cyprus,...,30.0,1061169.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,1061495,554,Beşiktaş,73,Feyenoord,3,1,2014-08-06 17:30:00,Champions League,Netherlands,...,8.0,1061106.0,2.0,5932769.0,NaN,NaN,NaN,NaN,NaN,NaN
488,1061432,85,København,12582,Dnipro Dnipropetrovsk,2,0,2014-08-06 18:00:00,Champions League,Ukraine,...,30.0,1061126.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,1061159,13258,Athletic Club,597,Napoli,3,1,2014-08-27 18:45:00,Champions League,Italy,...,2.0,1059108.0,14.0,1059077.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886,1061265,11333,Kaunas,62,Rangers,2,1,2008-08-05 17:05:00,Champions League,Scotland,...,4.0,1060543.0,2.0,1059050.0,1526.251479,1473.748521,1539.001842,1460.998158,0.574988,0.425012
1887,1061233,3859,BATE,2555,Anderlecht,2,2,2008-08-06 16:00:00,Champions League,Belgium,...,4.0,1060149.0,2.0,1061228.0,NaN,NaN,NaN,NaN,NaN,NaN
1888,1061285,3451,Dinamo Tbilisi,57,Panathinaikos,0,0,2008-08-06 16:00:00,Champions League,Greece,...,4.0,1061635.0,2.0,1060628.0,NaN,NaN,NaN,NaN,NaN,NaN
1889,1061113,556,Dynamo Kyiv,1152,Drogheda United,2,2,2008-08-06 16:00:00,Champions League,Republic of Ireland,...,2.0,1060094.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1890,1061248,3678,Rapid Wien,272,Anorthosis,3,1,2008-08-06 17:30:00,Champions League,Cyprus,...,2.0,1061576.0,4.0,1060513.0,NaN,NaN,NaN,NaN,NaN,NaN
1891,1061165,7288,NaN,1020,AaB,1,2,2008-08-06 18:00:00,Champions League,Denmark,...,4.0,NaN,2.0,1060543.0,1457.528606,1513.763389,1444.935475,1526.356520,0.419771,0.580229
1893,1061149,2727,Sparta Praha,627,Sheriff,2,0,2008-08-06 18:15:00,Champions League,Moldova,...,2.0,1060628.0,4.0,1061603.0,1513.819563,1486.180437,1527.628797,1472.371203,0.539692,0.460308
1894,1061216,468,Basel,532,IFK Göteborg,4,2,2008-08-06 18:15:00,Champions League,Sweden,...,2.0,1061022.0,4.0,NaN,1501.236611,1527.471394,1517.367110,1511.340895,0.462317,0.537683
1895,1061183,331,Wisła Kraków,589,Beitar Jerusalem,5,0,2008-08-06 18:45:00,Champions League,Israel,...,2.0,1061038.0,2.0,NaN,1485.000000,1515.000000,1501.291995,1498.708005,0.456934,0.543066
1896,1061201,2940,MTK,88,Fenerbahçe,0,5,2008-08-06 18:45:00,Champions League,Turkey,...,2.0,NaN,6.0,1060989.0,NaN,NaN,NaN,NaN,NaN,NaN
1898,1061080,2736,Partizan,4220,Glei333sdorf 09,2,0,2008-08-06 18:45:00,Champions League,Azerbaijan,...,2.0,1060989.0,4.0,1061579.0,NaN,NaN,NaN,NaN,NaN,NaN
1916,1060695,8491,Petrzalka,625,Juventus,1,1,2008-08-26 18:45:00,Champions League,Italy,...,6.0,NaN,2.0,1058947.0,NaN,NaN,NaN,NaN,NaN,NaN
1918,1060322,3859,BATE,3223,Levski Sofia,1,1,2008-08-27 16:00:00,Champions League,Bulgaria,...,6.0,1058939.0,2.0,1061643.0,NaN,NaN,NaN,NaN,NaN,NaN
1920,1060129,556,Dynamo Kyiv,2712,Spartak Moskva,4,1,2008-08-27 17:45:00,Champions League,Russia,...,4.0,1058955.0,2.0,1059075.0,NaN,NaN,NaN,NaN,NaN,NaN
1921,1060604,3444,FCSB,34,Galatasaray,1,0,2008-08-27 17:45:00,Champions League,Turkey,...,2.0,1058982.0,2.0,1058900.0,1500.000000,1500.000000,1515.000000,1485.000000,0.500000,0.500000
1923,1061028,468,Basel,830,Vitória Guimarães,2,1,2008-08-27 18:15:00,Champions League,Portugal,...,4.0,1058895.0,2.0,NaN,1516.617936,1500.749175,1530.933302,1486.433808,0.522821,0.477179
1924,1060963,7980,Atlético Madrid,67,Schalke 04,4,0,2008-08-27 18:45:00,Champions League,Germany,...,2.0,1058878.0,6.0,1058991.0,NaN,NaN,NaN,NaN,NaN,NaN
1925,1060501,674,Dinamo Zagreb,621,Shakhtar Donetsk,1,3,2008-08-27 18:45:00,Champions League,Ukraine,...,6.0,1061501.0,2.0,1058895.0,1523.443074,1516.726577,1508.153136,1532.016515,0.509665,0.490335
1927,1060810,44,Olympique Marseille,2474,Brann,2,1,2008-08-27 18:45:00,Champions League,Norway,...,2.0,1058872.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928,1059798,216,Slavia Praha,109,Fiorentina,0,0,2008-08-27 18:45:00,Champions League,Italy,...,2.0,1061313.0,2.0,1058972.0,1485.000000,1515.000000,1486.291995,1513.708005,0.456934,0.543066
1929,1060981,19,Arsenal,593,FC Twente,4,0,2008-08-27 19:05:00,Champions League,Netherlands,...,6.0,1058955.0,2.0,1061459.0,NaN,NaN,NaN,NaN,NaN,NaN
1930,1061013,8,Liverpool,700,Standard Liège,1,0,2008-08-27 19:05:00,Champions League,Belgium,...,8.0,1058872.0,2.0,1059018.0,NaN,NaN,NaN,NaN,NaN,NaN
1947,1059003,2963,Zenit,3468,Real Madrid,1,2,2008-09-30 16:30:00,Champions League,Spain,...,2.0,1059140.0,4.0,1059149.0,NaN,NaN,NaN,NaN,NaN,NaN
1951,1059038,503,Bayern München,79,Olympique Lyonnais,1,1,2008-09-30 18:45:00,Champions League,France,...,2.0,1059183.0,4.0,1059172.0,NaN,NaN,NaN,NaN,NaN,NaN
1953,1059054,3477,Villarreal,53,Celtic,1,0,2008-09-30 18:45:00,Champions League,Scotland,...,2.0,1059202.0,4.0,1059193.0,NaN,NaN,NaN,NaN,NaN,NaN
1955,1059078,8,Liverpool,682,PSV,3,1,2008-10-01 18:45:00,Champions League,Netherlands,...,10.0,1059219.0,2.0,1059211.0,NaN,NaN,NaN,NaN,NaN,NaN
1957,1059097,58,Sporting CP,468,Basel,2,0,2008-10-01 18:45:00,Champions League,Switzerland,...,2.0,1059235.0,6.0,1059227.0,NaN,NaN,NaN,NaN,NaN,NaN
1958,1059107,2930,Internazionale,82,Werder Bremen,1,1,2008-10-01 18:45:00,Champions League,Germany,...,4.0,1059253.0,2.0,1059245.0,NaN,NaN,NaN,NaN,NaN,NaN
1960,1059123,3562,Bordeaux,37,Roma,1,3,2008-10-01 18:45:00,Champions League,Italy,...,2.0,1059267.0,6.0,1059261.0,NaN,NaN,NaN,NaN,NaN,NaN
1961,1059132,3599,CFR Cluj,18,Chelsea,0,0,2008-10-01 18:45:00,Champions League,England,...,2.0,1059267.0,9.0,1059261.0,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
fixtures_f[(fixtures_f['localteam_id']==7058) | (fixtures_f['visitorteam_id']==7058)].sort_values('starting_datetime')

,fixture_id,localteam_id,localteam_name,visitorteam_id,visitorteam_name,localteam_score,visitorteam_score,starting_datetime,league_name,country_name,...,localteam_order,localteam_next,visitorteam_order,visitorteam_next,localteam_r,visitorteam_r,localteam_post_r,visitorteam_post_r,localteam_p,visitorteam_p
1851,1061438,7058,FC Santa Coloma,11333,Kaunas,1,4,2008-07-15 18:30:00,Champions League,Lithuania,...,1.0,1061447.0,1.0,1061447.0,1500.0,1500.0,1485.000000,1515.000000,0.500000,0.500000
1859,1061447,11333,Kaunas,7058,FC Santa Coloma,3,1,2008-07-22 16:30:00,Champions League,Andorra,...,2.0,1061258.0,2.0,1061926.0,1515.0,1485.0,1528.708005,1471.291995,0.543066,0.456934
1063,1061926,7058,FC Santa Coloma,1877,Birkirkara,0,3,2010-06-29 17:00:00,Champions League,Malta,...,3.0,1061927.0,1.0,1061927.0,NaN,1500.0,NaN,NaN,NaN,NaN
1065,1061927,1877,Birkirkara,7058,FC Santa Coloma,4,3,2010-07-06 16:00:00,Champions League,Andorra,...,2.0,1061620.0,4.0,1061935.0,NaN,NaN,NaN,NaN,NaN,NaN
850,1061935,7058,FC Santa Coloma,1401,F91 Dudelange,0,2,2011-06-28 17:00:00,Champions League,Luxembourg,...,5.0,1061945.0,5.0,1061945.0,NaN,NaN,NaN,NaN,NaN,NaN
852,1061945,1401,F91 Dudelange,7058,FC Santa Coloma,2,0,2011-07-05 16:30:00,Champions League,Andorra,...,6.0,1061625.0,6.0,207684.0,NaN,NaN,NaN,NaN,NaN,NaN
423,207684,7058,FC Santa Coloma,5487,Banants,1,0,2014-07-01 18:00:00,Champions League,Armenia,...,7.0,1061948.0,1.0,1061948.0,NaN,1500.0,NaN,NaN,NaN,NaN
426,1061948,5487,Banants,7058,FC Santa Coloma,3,2,2014-07-08 14:00:00,Champions League,Andorra,...,2.0,NaN,8.0,1061691.0,NaN,NaN,NaN,NaN,NaN,NaN
434,1061691,7058,FC Santa Coloma,2997,Maccabi Tel Aviv,0,1,2014-07-15 18:00:00,Champions League,Israel,...,9.0,1061702.0,5.0,1061702.0,NaN,NaN,NaN,NaN,NaN,NaN
450,1061702,2997,Maccabi Tel Aviv,7058,FC Santa Coloma,2,0,2014-07-22 17:30:00,Champions League,Andorra,...,6.0,1061545.0,10.0,1061970.0,NaN,NaN,NaN,NaN,NaN,NaN
1396,1061970,10068,Newcastle FC,7058,FC Santa Coloma,0,0,2015-06-30 18:00:00,Champions League,Andorra,...,3.0,1061980.0,11.0,1061980.0,NaN,NaN,NaN,NaN,NaN,NaN
1505,1061980,7058,FC Santa Coloma,10068,Newcastle FC,1,2,2015-07-07 18:00:00,Champions League,Gibraltar,...,12.0,1062109.0,4.0,1061638.0,NaN,NaN,NaN,NaN,NaN,NaN
314,1062109,7058,FC Santa Coloma,5495,Alashkert,0,0,2016-06-28 18:00:00,Champions League,Armenia,...,13.0,1062118.0,1.0,1062118.0,NaN,1500.0,NaN,NaN,NaN,NaN
103,1062118,5495,Alashkert,7058,FC Santa Coloma,3,0,2016-07-05 15:00:00,Champions League,Andorra,...,2.0,1061737.0,14.0,1818602.0,NaN,NaN,NaN,NaN,NaN,NaN
1445,1818602,5495,Alashkert,7058,FC Santa Coloma,1,0,2017-06-27 19:00:00,Champions League,Andorra,...,5.0,1818653.0,15.0,1818653.0,NaN,NaN,NaN,NaN,NaN,NaN
1555,1818653,7058,FC Santa Coloma,5495,Alashkert,1,1,2017-07-04 21:30:00,Champions League,Armenia,...,16.0,10332447.0,6.0,2457398.0,NaN,NaN,NaN,NaN,NaN,NaN
0,10332447,7058,FC Santa Coloma,148038,Drita,0,0,2018-06-26 15:00:00,Champions League,Kosovo,...,17.0,NaN,1.0,10340559.0,NaN,1500.0,NaN,NaN,NaN,NaN

In [310]:
combined_fixtures_f[(combined_fixtures_f['cur_team_id'] == 8) & (combined_fixtures_f['opp_team_id'] == 2930)]

,index,cur_team_id,cur_team_score,fixture_id,opp_team_id,opp_team_score,starting_datetime,cur_team_order,cur_team_next,outcome,opp_team_order,opp_team_next,cur_team_r,opp_team_r,cur_p,opp_p,cur_post_r,opp_post_r
26,905229,8.0,2,1058774,2930.0,0,2008-02-19 19:45:00,1.0,1058782.0,1.0,1.0,1058782.0,1500.0,1500.0,0.500000,0.500000,1515.000000,1485.000000
27,910518,8.0,1,1058782,2930.0,0,2008-03-11 19:45:00,2.0,1058515.0,1.0,2.0,1058914.0,1515.0,1485.0,0.456934,0.543066,1501.291995,1498.708005

In [312]:
combined_fixtures_f[combined_fixtures_f['cur_team_id'] == 8]

,index,cur_team_id,cur_team_score,fixture_id,opp_team_id,opp_team_score,starting_datetime,cur_team_order,cur_team_next,outcome,opp_team_order,opp_team_next,cur_team_r,opp_team_r,cur_p,opp_p,cur_post_r,opp_post_r
26,905229,8.0,2,1058774,2930.0,0,2008-02-19 19:45:00,1.0,1058782.0,1.0,1.0,1058782.0,1500.000000,1500.0,0.500000,0.500000,1515.000000,1485.000000
27,910518,8.0,1,1058782,2930.0,0,2008-03-11 19:45:00,2.0,1058515.0,1.0,2.0,1058914.0,1515.000000,1485.0,0.456934,0.543066,1501.291995,1498.708005
28,916511,8.0,1,1058515,19.0,1,2008-04-02 18:45:00,3.0,1058523.0,0.5,3.0,1058523.0,1501.291995,1515.0,NaN,NaN,NaN,NaN
29,918441,8.0,4,1058523,19.0,2,2008-04-08 18:45:00,4.0,1058448.0,1.0,4.0,1060972.0,NaN,NaN,NaN,NaN,NaN,NaN
30,922762,8.0,1,1058448,18.0,1,2008-04-22 18:45:00,5.0,1058452.0,0.5,5.0,1058452.0,NaN,NaN,NaN,NaN,NaN,NaN
31,925006,8.0,2,1058452,18.0,3,2008-04-30 18:45:00,6.0,1061006.0,0.0,6.0,1058434.0,NaN,NaN,NaN,NaN,NaN,NaN
32,940076,8.0,0,1061006,700.0,0,2008-08-13 19:05:00,7.0,1061013.0,0.5,1.0,1061013.0,NaN,1500.0,NaN,NaN,NaN,NaN
33,943808,8.0,1,1061013,700.0,0,2008-08-27 19:05:00,8.0,1058872.0,1.0,2.0,1059018.0,NaN,NaN,NaN,NaN,NaN,NaN
34,949956,8.0,2,1058872,44.0,1,2008-09-16 18:45:00,9.0,1059078.0,1.0,3.0,1059070.0,NaN,NaN,NaN,NaN,NaN,NaN
35,954996,8.0,3,1059078,682.0,1,2008-10-01 18:45:00,10.0,1059219.0,1.0,2.0,1059211.0,NaN,NaN,NaN,NaN,NaN,NaN
36,961191,8.0,1,1059219,7980.0,1,2008-10-22 18:45:00,11.0,1059287.0,0.5,5.0,1059287.0,NaN,NaN,NaN,NaN,NaN,NaN
37,965649,8.0,1,1059287,7980.0,1,2008-11-04 19:45:00,12.0,1059475.0,0.5,6.0,1059481.0,NaN,NaN,NaN,NaN,NaN,NaN
38,971705,8.0,1,1059475,44.0,0,2008-11-26 19:45:00,13.0,1059540.0,1.0,7.0,1058958.0,NaN,NaN,NaN,NaN,NaN,NaN
39,974743,8.0,3,1059540,682.0,1,2008-12-09 19:45:00,14.0,1058802.0,1.0,6.0,1061449.0,NaN,NaN,NaN,NaN,NaN,NaN
40,819983,8.0,1,1058802,3468.0,0,2009-02-25 19:45:00,15.0,1058809.0,1.0,9.0,1058809.0,NaN,NaN,NaN,NaN,NaN,NaN
41,823975,8.0,4,1058809,3468.0,0,2009-03-10 19:45:00,16.0,1058527.0,1.0,10.0,1058967.0,NaN,NaN,NaN,NaN,NaN,NaN
42,833058,8.0,1,1058527,18.0,3,2009-04-08 18:45:00,17.0,1058534.0,0.0,16.0,1058534.0,NaN,NaN,NaN,NaN,NaN,NaN
43,835387,8.0,4,1058534,18.0,4,2009-04-14 18:45:00,18.0,1059090.0,0.5,17.0,1058450.0,NaN,NaN,NaN,NaN,NaN,NaN
44,869723,8.0,1,1059090,396.0,0,2009-09-16 18:45:00,19.0,1059171.0,1.0,7.0,1059161.0,NaN,NaN,NaN,NaN,NaN,NaN
45,874501,8.0,0,1059171,109.0,2,2009-09-29 18:45:00,20.0,1059326.0,0.0,10.0,1059337.0,NaN,NaN,NaN,NaN,NaN,NaN
46,880956,8.0,1,1059326,79.0,2,2009-10-20 18:45:00,21.0,1059543.0,0.0,15.0,1059543.0,NaN,NaN,NaN,NaN,NaN,NaN
47,885629,8.0,1,1059543,79.0,1,2009-11-04 19:45:00,22.0,1059635.0,0.5,16.0,1059625.0,NaN,NaN,NaN,NaN,NaN,NaN
48,890866,8.0,1,1059635,396.0,0,2009-11-24 19:45:00,23.0,1060977.0,1.0,11.0,1060832.0,NaN,NaN,NaN,NaN,NaN,NaN
49,894167,8.0,1,1060977,109.0,2,2009-12-09 19:45:00,24.0,1058970.0,0.0,14.0,1058812.0,NaN,NaN,NaN,NaN,NaN,NaN
50,259618,8.0,2,1058970,2742.0,1,2014-09-16 18:45:00,25.0,1059225.0,1.0,13.0,1059236.0,NaN,NaN,NaN,NaN,NaN,NaN
51,266165,8.0,0,1059225,468.0,1,2014-10-01 18:45:00,26.0,1059400.0,0.0,38.0,1059390.0,NaN,NaN,NaN,NaN,NaN,NaN
52,274333,8.0,0,1059400,3468.0,3,2014-10-22 18:45:00,27.0,1059496.0,0.0,58.0,1059496.0,NaN,NaN,NaN,NaN,NaN,NaN
53,279950,8.0,0,1059496,3468.0,1,2014-11-04 19:45:00,28.0,1060506.0,0.0,59.0,1060516.0,NaN,NaN,NaN,NaN,NaN,NaN
54,286809,8.0,2,1060506,2742.0,2,2014-11-26 19:45:00,29.0,1060660.0,0.5,17.0,1060689.0,NaN,NaN,NaN,NaN,NaN,NaN
55,290856,8.0,1,1060660,468.0,1,2014-12-09 19:45:00,30.0,5402571.0,0.5,42.0,1058844.0,NaN,NaN,NaN,NaN,NaN,NaN
56,753628,8.0,2,5402571,2726.0,1,2017-08-15 18:45:00,31.0,5402572.0,1.0,1.0,5402572.0,NaN,1500.0,NaN,NaN,NaN,NaN
57,595372,8.0,4,5402572,2726.0,2,2017-08-23 18:45:00,32.0,5932768.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,697373,8.0,2,5932768,676.0,2,2017-09-13 18:45:00,33.0,5932776.0,0.5,29.0,5932775.0,NaN,NaN,NaN,NaN,NaN,NaN
59,17131,8.0,1,5932776,2712.0,1,2017-09-26 18:45:00,34.0,5932792.0,0.5,10.0,5932791.0,NaN,NaN,NaN,NaN,NaN,NaN
60,627546,8.0,7,5932792,2973.0,0,2017-10-17 18:45:00,35.0,5932816.0,1.0,37.0,5932816.0,NaN,NaN,NaN,NaN,NaN,NaN
61,666805,8.0,3,5932816,2973.0,0,2017-11-01 19:45:00,36.0,5932824.0,1.0,38.0,5932823.0,NaN,NaN,NaN,NaN,NaN,NaN
62,685658,8.0,3,5932824,676.0,3,2017-11-21 19:45:00,37.0,5932848.0,0.5,33.0,5932847.0,NaN,NaN,NaN,NaN,NaN,NaN
63,760978,8.0,7,5932848,2712.0,0,2017-12-06 19:45:00,38.0,8801069.0,1.0,14.0,10405611.0,NaN,NaN,NaN,NaN,NaN,NaN
64,659570,8.0,5,8801069,652.0,0,2018-02-14 19:45:00,39.0,8801070.0,1.0,69.0,8801070.0,NaN,NaN,NaN,NaN,NaN,NaN
65,778586,8.0,0,8801070,652.0,0,2018-03-06 19:45:00,40.0,10306070.0,0.5,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,731839,8.0,3,10306070,9.0,0,2018-04-04 18:45:00,41.0,10306071.0,1.0,53.0,10306071.0,NaN,NaN,NaN,NaN,NaN,NaN
67,656044,8.0,2,10306071,9.0,1,2018-04-10 18:45:00,42.0,10321448.0,1.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,856491,8.0,5,10321448,37.0,2,2018-04-24 18:45:00,43.0,10321504.0,1.0,47.0,10321504.0,NaN,NaN,NaN,NaN,NaN,NaN
69,983153,8.0,2,10321504,37.0,4,2018-05-02 18:45:00,44.0,10324398.0,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,981247,8.0,1,10324398,3468.0,3,2018-05-26 18:45:00,45.0,NaN,0.0,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
#dupes = combined_fixtures[(combined_fixtures['fixture_order'] - combined_fixtures['fixture_order'].apply(np.floor)) > 0].sort_values('starting_datetime')`b
#dupes.to_csv('duplicate_fixtures')

In [92]:
fixtures = pd.merge(fixtures, combined_fixtures[['fixture_order', 'fixture_id', 'team_id']],\
                    how='left', left_on=['localteam_id','fixture_id'], right_on = ['team_id','fixture_id'])\
                .drop(['team_id'], axis=1)\
                .rename(index=str, columns={'fixture_order': 'localteam_order'})

In [93]:
fixtures = pd.merge(fixtures, combined_fixtures[['fixture_order', 'fixture_id', 'team_id']],\
                    how='left', left_on=['visitorteam_id','fixture_id'], right_on = ['team_id','fixture_id'])\
                .drop(['team_id'], axis=1)\
                .rename(index=str, columns={'fixture_order': 'visitorteam_order'})

In [94]:
fixtures = fixtures.sort_values('starting_datetime')

In [106]:
#assign initial rating to first game played by all teams
fixtures['localteam_rating'] = np.where(fixtures['localteam_order'] == 1, 1500, np.nan)
fixtures['visitorteam_rating'] = np.where(fixtures['visitorteam_order'] == 1, 1500, np.nan)

In [107]:
fixtures.head()

,fixture_id,localteam_id,localteam_name,visitorteam_id,visitorteam_name,localteam_score,visitorteam_score,starting_datetime,league_name,country_name,fifa_name,season_name,outcome,localteam_order,visitorteam_order,localteam_rating,visitorteam_rating
906067,22909,50,Torquay United,185,Exeter City,1,0,2008-01-01 12:00:00,Vanarama National League,England,"ENG,NIR,SCO,WAL",2007/2008,1.0,1.0,1.0,1500.0,1500.0
906074,654189,1244,DPMM FC,3347,Kedah,2,0,2008-01-01 12:45:00,Super League,Malaysia,MAS,2007/2008,1.0,1.0,1.0,1500.0,1500.0
906073,654188,1908,Negeri Sembilan,2276,Johor Darul Ta'zim,2,0,2008-01-01 12:45:00,Super League,Malaysia,MAS,2007/2008,1.0,1.0,1.0,1500.0,1500.0
906072,654187,3446,Perak,3398,Sarawak,5,0,2008-01-01 12:45:00,Super League,Malaysia,MAS,2007/2008,1.0,1.0,1.0,1500.0,1500.0
906068,5881,11,Fulham,18,Chelsea,1,2,2008-01-01 12:45:00,Premier League,England,"ENG,NIR,SCO,WAL",2007/2008,0.0,1.0,1.0,1500.0,1500.0

In [256]:
def Probability(rating1, rating2):
 
    return 1.0 * 1.0 / (1 + 1.0 * math.pow(10, 1.0 * (rating1 - rating2) / 400))

In [109]:
def EloRating(Ra, Rb, K, d):

    # To calculate the Winning
    # Probability of Player A
    Pa = Probability(Rb, Ra)
 
    # To calculate the Winning
    # Probability of Player B
    Pb = Probability(Ra, Rb)
 
    # Case -1 When Player A wins
    # Updating the Elo Ratings
    if (d == 1) :
        Ra = Ra + K * (1 - Pa)
        Rb = Rb + K * (0 - Pb)
     
 
    # Case -2 When Player B wins
    # Updating the Elo Ratings
    else :
        Ra = Ra + K * (0 - Pa)
        Rb = Rb + K * (1 - Pb)
    
    return localteam_rating_post=Ra, visitorteam_rating_post=Rb
     
    ##    print("Updated Ratings:-")
    ##    print("Ra =", round(Ra, 6)," Rb =", round(Rb, 6))

In [111]:
test = fixtures[(fixtures['localteam_order'] == 1) & (fixtures['visitorteam_order'] == 1)]

In [115]:
test.apply(EloRating(test['localteam_rating'], test['visitorteam_rating'], 30, test['outcome']))

TypeError: cannot convert the series to <class 'float'>

In [120]:
test_onerow = test[0:1]

In [123]:
Probability(test_onerow['localteam_rating'], test_onerow['visitorteam_rating'])

0.5

In [128]:
test['p_localteam'] = test[['fixture_id', 'visitorteam_rating', 'localteam_rating']].apply(Probability)

TypeError: ("Probability() missing 1 required positional argument: 'rating2'", 'occurred at index fixture_id')

In [ ]:
def elo(data
# rank fixtures played by each team
    
# calcul


# Function to calculate the Probability
def Probability(rating1, rating2):
 
    return 1.0 * 1.0 / (1 + 1.0 * math.pow(10, 1.0 * (rating1 - rating2) / 400))
 
 
# Function to calculate Elo rating
# K is a constant.
# d determines whether
# Player A wins or Player B. 

def EloRating(Ra, Rb, K, d):

    # To calculate the Winning
    # Probability of Player A
    Pa = Probability(Rb, Ra)
 
    # To calculate the Winning
    # Probability of Player B
    Pb = Probability(Ra, Rb)
 
    # Case -1 When Player A wins
    # Updating the Elo Ratings
    if (d == 1) :
        Ra = Ra + K * (1 - Pa)
        Rb = Rb + K * (0 - Pb)
     
 
    # Case -2 When Player B wins
    # Updating the Elo Ratings
    else :
        Ra = Ra + K * (0 - Pa)
        Rb = Rb + K * (1 - Pb)
     
 
    print("Updated Ratings:-")
    print("Ra =", round(Ra, 6)," Rb =", round(Rb, 6))
 
# Driver code
 
# Ra and Rb are current ELO ratings
Ra = 1200
Rb = 1000
K = 30
d = 1
EloRating(Ra, Rb, K, d)
 
# This code is contributed by
# Smitha Dinesh Semwal