In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [14]:
# import data
fixtures = pd.read_csv('fixtures.csv')

conditions = [
    fixtures['localteam_score'] > fixtures['visitorteam_score'],
    fixtures['visitorteam_score'] > fixtures['localteam_score'],
    fixtures['localteam_score'] == fixtures['visitorteam_score']
]
choices = [ 1, 0, 0.5 ]
fixtures['outcome'] = np.select(conditions, choices)

In [15]:
# we can use champions league to test; 
fixtures = fixtures[fixtures['league_name'] == 'Champions League']

In [16]:
#rank fixtures played by each team
localteam_fixtures = fixtures[['localteam_id', 'fixture_id', 'starting_datetime']] \
                        .rename(index=str, columns={'localteam_id': 'team_id'})
visitorteam_fixtures = fixtures[['visitorteam_id', 'fixture_id', 'starting_datetime']] \
                        .rename(index=str, columns={'visitorteam_id': 'team_id'})
                          
frames = [localteam_fixtures, visitorteam_fixtures]
combined_fixtures = pd.concat(frames).reset_index()

combined_fixtures['fixture_order'] = combined_fixtures.groupby('team_id')['starting_datetime'].rank(ascending=True, method='min')
combined_fixtures = combined_fixtures.sort_values(['team_id','fixture_order'])
combined_fixtures['next_fixture'] = combined_fixtures.groupby('team_id')['fixture_id'].shift(-1)

In [17]:
fixtures = pd.merge(fixtures, combined_fixtures[['fixture_order', 'fixture_id', 'team_id', 'next_fixture']],\
                    how='left', left_on=['localteam_id','fixture_id'], right_on = ['team_id','fixture_id'])\
                .drop(['team_id'], axis=1)\
                .rename(index=str, columns={'fixture_order': 'localteam_order', 'next_fixture': 'localteam_next'})

fixtures = pd.merge(fixtures, combined_fixtures[['fixture_order', 'fixture_id', 'team_id', 'next_fixture']],\
            how='left', left_on=['visitorteam_id','fixture_id'], right_on = ['team_id','fixture_id'])\
        .drop(['team_id'], axis=1)\
        .rename(index=str, columns={'fixture_order': 'visitorteam_order', 'next_fixture': 'visitorteam_next'})

In [49]:
fixtures_f = fixtures

#fixtures_f.drop('cur_team_r', axis=1, inplace=True)
#fixtures_f.drop('opp_team_r', axis=1, inplace=True)
#fixtures_f.drop('cur_team_r', axis=1, inplace=True)
#fixtures_f.drop('opp_team_r', axis=1, inplace=True)
#fixtures_f.drop('cur_p', axis=1, inplace=True)
#fixtures_f.drop('opp_p', axis=1, inplace=True)
#fixtures_f.drop('cur_post_r', axis=1, inplace=True)
#fixtures_f.drop('opp_post_r', axis=1, inplace=True)

fixtures_f['localteam_r'] = np.nan
fixtures_f['visitorteam_r'] = np.nan
fixtures_f['localteam_post_r'] = np.nan
fixtures_f['visitorteam_post_r'] = np.nan

In [50]:
fixtures_f['localteam_r'].isnull().sum()

2028

In [20]:
def Probability(rating1, rating2):
    p1_w = 1.0 * 1.0 / (1 + 1.0 * math.pow(10, 1.0 * (rating2 - rating1) / 400))
    p2_w = 1.0 * 1.0 / (1 + 1.0 * math.pow(10, 1.0 * (rating1 - rating2) / 400))
 
    return p1_w, p2_w

def EloRating(Ra, Rb, K, d):

    # Calculate winning probabilities
    Pa, Pb = Probability(Ra, Rb)
 
    # Case -1 When Player A wins
    # Updating the Elo Ratings
    if (d == 1) :
        Ra = Ra + K * (1 - Pa)
        Rb = Rb + K * (0 - Pb)    
 
    # Case -2 When Player B wins
    # Updating the Elo Ratings
    elif (d == 0.5):
        Ra = Ra + K * (0.5 - Pa)
        Rb = Rb + K * (0.5 - Pb)
        
    else:
        Ra = Ra + K * (0 - Pa)
        Rb = Rb + K * (1 - Pb)   
    
    return Pa, Pb, Ra, Rb
     
    ##    print("Updated Ratings:-")
    ##    print("Ra =", round(Ra, 6)," Rb =", round(Rb, 6))

In [84]:
def test(data):
    K = 30
    
    nulls = data['localteam_r'].isnull().sum() + data['visitorteam_r'].isnull().sum()
    print(nulls)
    
    while nulls > 0:

        for index, row in data.iterrows():
            fixture_id = row['fixture_id']
            localteam_id = row['localteam_id']
            visitorteam_id = row['visitorteam_id']
            localteam_next = row['localteam_next']
            visitorteam_next = row['visitorteam_next']
            
#            if np.isnan(row['localteam_r']) == False & np.isnan(row['visitorteam_r']) == False & \
#                np.isnan(row['localteam_post_r']) == False & np.isnan(row['visitorteam_post_r']) == False:
#                return

            if (row['localteam_order'] == 1 & np.isnan(row['localteam_r'])) | (row['visitorteam_order'] == 1 & np.isnan(row['visitorteam_r'])):
                if row['localteam_order'] == 1 & np.isnan(row['localteam_r']):
                    data.loc[(data['fixture_id'] == fixture_id), 'localteam_r'] = 1500
                elif row['visitorteam_order'] == 1 & np.isnan(row['visitorteam_r']):
                    data.loc[(data['fixture_id'] == fixture_id), 'visitorteam_r'] = 1500
            
            elif np.isnan(row['localteam_r']) == False & np.isnan(row['visitorteam_r']) == False & \
                np.isnan(row['localteam_post_r']) & np.isnan(row['visitorteam_post_r']):
                    
                #print("evaluating fixture %d" % (fixture_id))
                
                #calculate ratings
                localteam_p, visitorteam_p, localteam_post_r, visitorteam_post_r = EloRating(row['localteam_r'], row['visitorteam_r'], K, row['outcome'])
                
                #assign probabilities for current game and post-game ratings
                data.loc[(data['fixture_id'] == fixture_id), 'localteam_p'] = localteam_p
                data.loc[(data['fixture_id'] == fixture_id), 'visitorteam_p'] = visitorteam_p
                data.loc[(data['fixture_id'] == fixture_id), 'localteam_post_r'] = localteam_post_r
                data.loc[(data['fixture_id'] == fixture_id), 'visitorteam_post_r'] = visitorteam_post_r
                
                #bring post-game ratings to next game
                l_next_localteam_id = data[data['fixture_id'] == localteam_next]['localteam_id']
                l_next_visitorteam_id = data[data['fixture_id'] == localteam_next]['visitorteam_id']
                v_next_localteam_id = data[data['fixture_id'] == visitorteam_next]['localteam_id']
                v_next_visitorteam_id = data[data['fixture_id'] == visitorteam_next]['visitorteam_id']
                
                print('the localteam id is %d' % (localteam_id))
                print('the visitorteam id is %d' % (visitorteam_id))
                print(l_next_localteam_id[0])
                print(l_next_visitorteam_id)
                
                if localteam_id == l_next_localteam_id:
                    data.loc[(data['fixture_id'] == localteam_next), 'localteam_r'] = localteam_post_r
                else:
                    data.loc[(data['fixture_id'] == localteam_next), 'visitorteam_r'] = localteam_post_r
                    
                if visitorteam_id == v_next_localteam_id:
                    data.loc[(data['fixture_id'] == localteam_next), 'localteam_r'] = visitorteam_post_r
                else:
                    data.loc[(data['fixture_id'] == localteam_next), 'visitorteam_r'] = visitorteam_post_r
                
        test(data)

In [85]:
test(fixtures_f)

3744

TypeError: 'float' object is not subscriptable

In [61]:
fixtures_f[(fixtures_f['localteam_id']==674) | (fixtures_f['visitorteam_id']==674)].sort_values('starting_datetime')

,fixture_id,localteam_id,localteam_name,visitorteam_id,visitorteam_name,localteam_score,visitorteam_score,starting_datetime,league_name,country_name,...,localteam_order,localteam_next,visitorteam_order,visitorteam_next,localteam_r,visitorteam_r,localteam_post_r,visitorteam_post_r,localteam_p,visitorteam_p
1856,1061524,260.0,Linfield,674,Dinamo Zagreb,0,2,2008-07-16 18:45:00,Champions League,Croatia,...,1.0,1061533.0,1.0,1061533.0,1500.0,1500.0,1485.0,1515.0,0.500000,0.500000
1869,1061533,674.0,Dinamo Zagreb,260,Linfield,1,1,2008-07-23 18:45:00,Champions League,Northern Ireland,...,2.0,1061293.0,2.0,1061906.0,NaN,1515.0,NaN,NaN,0.500000,0.500000
1884,1061293,820.0,Domžale,674,Dinamo Zagreb,0,3,2008-07-30 18:45:00,Champions League,Croatia,...,3.0,1061063.0,3.0,1061063.0,NaN,NaN,NaN,NaN,0.519717,0.480283
1897,1061063,674.0,Dinamo Zagreb,820,Domžale,3,2,2008-08-06 18:45:00,Champions League,Slovenia,...,4.0,1060491.0,4.0,NaN,NaN,NaN,NaN,NaN,0.498221,0.501779
1902,1060491,621.0,Shakhtar Donetsk,674,Dinamo Zagreb,2,0,2008-08-13 17:00:00,Champions League,Croatia,...,1.0,1060501.0,5.0,1060501.0,1500.0,NaN,NaN,NaN,NaN,NaN
1925,1060501,674.0,Dinamo Zagreb,621,Shakhtar Donetsk,1,3,2008-08-27 18:45:00,Champions League,Ukraine,...,6.0,1061501.0,2.0,1058895.0,NaN,NaN,NaN,NaN,0.538649,0.461351
1645,1061501,5504.0,Pyunik,674,Dinamo Zagreb,0,0,2009-07-14 15:00:00,Champions League,Croatia,...,3.0,1061511.0,7.0,1061511.0,NaN,NaN,NaN,NaN,0.435974,0.564026
1667,1061511,674.0,Dinamo Zagreb,5504,Pyunik,3,0,2009-07-21 18:30:00,Champions League,Armenia,...,8.0,1061420.0,4.0,1061888.0,NaN,NaN,NaN,NaN,0.493556,0.506444
1689,1061420,49.0,Salzburg,674,Dinamo Zagreb,1,1,2009-07-29 18:30:00,Champions League,Croatia,...,3.0,1061430.0,9.0,1061430.0,NaN,NaN,NaN,NaN,NaN,NaN
1694,1061430,674.0,Dinamo Zagreb,49,Salzburg,1,2,2009-08-04 18:15:00,Champions League,Austria,...,10.0,1061767.0,4.0,1061123.0,NaN,NaN,NaN,NaN,NaN,NaN
1076,1061767,674.0,Dinamo Zagreb,444,Koper,5,1,2010-07-13 18:15:00,Champions League,Slovenia,...,11.0,1061777.0,1.0,1061777.0,NaN,1500.0,NaN,NaN,NaN,NaN
1088,1061777,444.0,Koper,674,Dinamo Zagreb,3,0,2010-07-20 18:15:00,Champions League,Croatia,...,2.0,NaN,12.0,1061436.0,NaN,NaN,NaN,NaN,NaN,NaN
1109,1061436,627.0,Sheriff,674,Dinamo Zagreb,1,1,2010-07-28 17:00:00,Champions League,Croatia,...,13.0,1061446.0,13.0,1061446.0,NaN,NaN,NaN,NaN,NaN,NaN
1123,1061446,674.0,Dinamo Zagreb,627,Sheriff,1,1,2010-08-04 18:00:00,Champions League,Moldova,...,14.0,1061793.0,14.0,1061181.0,NaN,NaN,NaN,NaN,NaN,NaN
864,1061793,674.0,Dinamo Zagreb,2599,Neftçi,3,0,2011-07-13 18:00:00,Champions League,Azerbaijan,...,15.0,1061804.0,1.0,1061804.0,NaN,1500.0,NaN,NaN,NaN,NaN
875,1061804,2599.0,Neftçi,674,Dinamo Zagreb,0,0,2011-07-19 16:00:00,Champions League,Croatia,...,2.0,1061803.0,16.0,1061433.0,NaN,NaN,NaN,NaN,NaN,NaN
896,1061433,724.0,HJK,674,Dinamo Zagreb,1,2,2011-07-27 16:00:00,Champions League,Croatia,...,7.0,1061444.0,17.0,1061444.0,NaN,NaN,NaN,NaN,NaN,NaN
915,1061444,674.0,Dinamo Zagreb,724,HJK,1,0,2011-08-03 18:45:00,Champions League,Finland,...,18.0,1061209.0,8.0,1061784.0,NaN,NaN,NaN,NaN,NaN,NaN
925,1061209,674.0,Dinamo Zagreb,354,Malmö FF,4,1,2011-08-17 18:45:00,Champions League,Sweden,...,19.0,1061220.0,5.0,1061220.0,NaN,NaN,NaN,NaN,NaN,NaN
930,1061220,354.0,Malmö FF,674,Dinamo Zagreb,2,0,2011-08-23 18:45:00,Champions League,Croatia,...,6.0,1061878.0,20.0,1059093.0,NaN,NaN,NaN,NaN,NaN,NaN
948,1059093,674.0,Dinamo Zagreb,3468,Real Madrid,0,1,2011-09-14 18:45:00,Champions League,Spain,...,21.0,1059173.0,31.0,1059184.0,NaN,NaN,NaN,NaN,NaN,NaN
960,1059173,79.0,Olympique Lyonnais,674,Dinamo Zagreb,2,0,2011-09-27 18:45:00,Champions League,Croatia,...,36.0,1059340.0,22.0,1059350.0,NaN,NaN,NaN,NaN,NaN,NaN
973,1059350,674.0,Dinamo Zagreb,629,Ajax,0,2,2011-10-18 18:45:00,Champions League,Netherlands,...,23.0,1059601.0,13.0,1059601.0,NaN,NaN,NaN,NaN,NaN,NaN
994,1059601,629.0,Ajax,674,Dinamo Zagreb,4,0,2011-11-02 19:45:00,Champions League,Croatia,...,14.0,1059975.0,24.0,1059732.0,NaN,NaN,NaN,NaN,NaN,NaN
1008,1059732,3468.0,Real Madrid,674,Dinamo Zagreb,6,2,2011-11-22 19:45:00,Champions League,Croatia,...,35.0,1061052.0,25.0,1061041.0,NaN,NaN,NaN,NaN,NaN,NaN
1031,1061041,674.0,Dinamo Zagreb,79,Olympique Lyonnais,1,7,2011-12-07 19:45:00,Champions League,France,...,26.0,1061700.0,40.0,1061471.0,NaN,NaN,NaN,NaN,NaN,NaN
646,1061700,3833.0,Fola Esch,674,Dinamo Zagreb,0,5,2013-07-16 17:30:00,Champions League,Croatia,...,1.0,1061710.0,27.0,1061710.0,1500.0,NaN,NaN,NaN,NaN,NaN
667,1061710,674.0,Dinamo Zagreb,3833,Fola Esch,1,0,2013-07-23 18:45:00,Champions League,Luxembourg,...,28.0,1061428.0,2.0,1061932.0,NaN,NaN,NaN,NaN,NaN,NaN
682,1061428,674.0,Dinamo Zagreb,627,Sheriff,1,0,2013-07-30 18:45:00,Champions League,Moldova,...,29.0,1061439.0,19.0,1061439.0,NaN,NaN,NaN,NaN,NaN,NaN
700,1061439,627.0,Sheriff,674,Dinamo Zagreb,0,3,2013-08-07 17:00:00,Champions League,Croatia,...,20.0,1061629.0,30.0,1061171.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,1061527,1020.0,AaB,674,Dinamo Zagreb,0,1,2014-07-30 18:15:00,Champions League,Croatia,...,11.0,1061537.0,35.0,1061537.0,NaN,NaN,NaN,NaN,NaN,NaN
491,1061537,674.0,Dinamo Zagreb,1020,AaB,0,2,2014-08-06 18:45:00,Champions League,Denmark,...,36.0,1061932.0,12.0,1061189.0,NaN,NaN,NaN,NaN,NaN,NaN
1284,1061932,674.0,Dinamo Zagreb,3833,Fola Esch,1,1,2015-07-15 19:00:00,Champions League,Luxembourg,...,37.0,1061943.0,3.0,1061943.0,NaN,NaN,NaN,NaN,NaN,NaN
1291,1061943,3833.0,Fola Esch,674,Dinamo Zagreb,0,3,2015-07-22 18:00:00,Champions League,Croatia,...,4.0,NaN,38.0,1061451.0,NaN,NaN,NaN,NaN,NaN,NaN
1604,1061451,674.0,Dinamo Zagreb,290,Molde,1,1,2015-07-28 19:00:00,Champions League,Norway,...,39.0,1061462.0,7.0,1061462.0,NaN,NaN,NaN,NaN,NaN,NaN
1299,1061462,290.0,Molde,674,Dinamo Zagreb,3,3,2015-08-04 17:00:00,Champions League,Croatia,...,8.0,NaN,40.0,1061173.0,NaN,NaN,NaN,NaN,NaN,NaN
1468,1061173,5204.0,Skënderbeu Korçë,674,Dinamo Zagreb,1,2,2015-08-19 18:45:00,Champions League,Croatia,...,13.0,1061184.0,41.0,1061184.0,NaN,NaN,NaN,NaN,NaN,NaN
1509,1061184,674.0,Dinamo Zagreb,5204,Skënderbeu Korçë,4,1,2015-08-25 18:45:00,Champions League,Albania,...,42.0,1059048.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1434,1059048,674.0,Dinamo Zagreb,19,Arsenal,2,1,2015-09-16 18:45:00,Champions League,England,...,43.0,1059138.0,68.0,1059148.0,NaN,NaN,NaN,NaN,NaN,NaN
318,1059138,503.0,Bayern München,674,Dinamo Zagreb,5,0,2015-09-29 18:45:00,Champions League,Croatia,...,71.0,1059307.0,44.0,1059318.0,NaN,NaN,NaN,NaN,NaN,NaN
339,1059318,674.0,Dinamo Zagreb,602,Olympiakos Piraeus,0,1,2015-10-20 18:45:00,Champions League,Greece,...,45.0,1059567.0,39.0,1059567.0,NaN,NaN,NaN,NaN,NaN,NaN
362,1059567,602.0,Olympiakos Piraeus,674,Dinamo Zagreb,2,1,2015-11-04 19:45:00,Champions League,Croatia,...,40.0,1059661.0,46.0,1059651.0,NaN,NaN,NaN,NaN,NaN,NaN
368,1059651,19.0,Arsenal,674,Dinamo Zagreb,3,0,2015-11-24 19:45:00,Champions League,Croatia,...,72.0,1061015.0,47.0,1061003.0,NaN,NaN,NaN,NaN,NaN,NaN
390,1061003,674.0,Dinamo Zagreb,503,Bayern München,0,2,2015-12-09 19:45:00,Champions League,Germany,...,48.0,1061902.0,75.0,1058882.0,NaN,NaN,NaN,NaN,NaN,NaN
116,1061902,5492.0,Vardar,674,Dinamo Zagreb,1,2,2016-07-12 18:45:00,Champions League,Croatia,...,5.0,1061912.0,49.0,1061912.0,NaN,NaN,NaN,NaN,NaN,NaN
69,1061912,674.0,Dinamo Zagreb,5492,Vardar,3,2,2016-07-20 18:45:00,Champions League,Macedonia FYR,...,50.0,1061529.0,6.0,1818648.0,NaN,NaN,NaN,NaN,NaN,NaN
146,1061529,674.0,Dinamo Zagreb,3451,Dinamo Tbilisi,2,0,2016-07-26 18:45:00,Champions League,Georgia,...,51.0,1061539.0,13.0,1061539.0,NaN,NaN,NaN,NaN,NaN,NaN
156,1061539,3451.0,Dinamo Tbilisi,674,Dinamo Zagreb,0,1,2016-08-02 17:00:00,Champions League,Croatia,...,14.0,NaN,52.0,1061207.0,NaN,NaN,NaN,NaN,NaN,NaN
170,1061207,674.0,Dinamo Zagreb,49,Salzburg,1,1,2016-08-16 18:45:00,Champions League,Austria,...,53.0,1061218.0,25.0,1061218.0,NaN,NaN,NaN,NaN,NaN,NaN
185,1061218,49.0,Salzburg,674,Dinamo Zagreb,1,2,2016-08-24 18:45:00,Champions League,Croatia,...,26.0,2457350.0,54.0,1059206.0,NaN,NaN,NaN,NaN,NaN,NaN
203,1059206,79.0,Olympique Lyonnais,674,Dinamo Zagreb,3,0,2016-09-14 18:45:00,Champions League,Croatia,...,51.0,1059290.0,55.0,1059299.0,NaN,NaN,NaN,NaN,NaN,NaN
212,1059299,674.0,Dinamo Zagreb,625,Juventus,0,4,2016-09-27 18:45:00,Champions League,Italy,...,56.0,1059459.0,47.0,1059469.0,NaN,NaN,NaN,NaN,NaN,NaN
227,1059459,674.0,Dinamo Zagreb,676,Sevilla,0,1,2016-10-18 18:45:00,Champions League,Spain,...,57.0,1060381.0,21.0,1060381.0,NaN,NaN,NaN,NaN,NaN,NaN
249,1060381,676.0,Sevilla,674,Dinamo Zagreb,4,0,2016-11-02 19:45:00,Champions League,Croatia,...,22.0,1060682.0,58.0,1060654.0,NaN,NaN,NaN,NaN,NaN,NaN
257,1060654,674.0,Dinamo Zagreb,79,Olympique Lyonnais,0,1,2016-11-22 19:45:00,Champions League,France,...,59.0,1061177.0,55.0,1061167.0,NaN,NaN,NaN,NaN,NaN,NaN
282,1061177,625.0,Juventus,674,Dinamo Zagreb,2,0,2016-12-07 19:45:00,Champions League,Croatia,...,51.0,1059016.0,60.0,10362024.0,NaN,NaN,NaN,NaN,NaN,NaN
40,10362024,674.0,Dinamo Zagreb,516,Hapoel Be'er Sheva,5,0,2018-07-24 18:00:00,Champions League,Israel,...,61.0,10362056.0,15.0,10362056.0,NaN,NaN,NaN,NaN,NaN,NaN
43,10362056,674.0,Dinamo Zagreb,516,Hapoel Be'er Sheva,0,0,2018-07-24 18:45:00,Champions League,Israel,...,62.0,10362025.0,16.0,10362025.0,NaN,NaN,NaN,NaN,NaN,NaN
63,10362025,516.0,Hapoel Be'er Sheva,674,Dinamo Zagreb,2,2,2018-07-31 17:00:00,Champions League,Croatia,...,17.0,NaN,63.0,10405607.0,NaN,NaN,NaN,NaN,NaN,NaN
71,10405607,5909.0,Astana,674,Dinamo Zagreb,0,2,2018-08-07 14:00:00,Champions League,Croatia,...,28.0,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
combined_fixtures_f[(combined_fixtures_f['localteam_order'] == 1) & (combined_fixtures_f['visitorteam_order'] == 1)]

NameError: name 'combined_fixtures_f' is not defined

In [310]:
combined_fixtures_f[(combined_fixtures_f['cur_team_id'] == 8) & (combined_fixtures_f['opp_team_id'] == 2930)]

,index,cur_team_id,cur_team_score,fixture_id,opp_team_id,opp_team_score,starting_datetime,cur_team_order,cur_team_next,outcome,opp_team_order,opp_team_next,cur_team_r,opp_team_r,cur_p,opp_p,cur_post_r,opp_post_r
26,905229,8.0,2,1058774,2930.0,0,2008-02-19 19:45:00,1.0,1058782.0,1.0,1.0,1058782.0,1500.0,1500.0,0.500000,0.500000,1515.000000,1485.000000
27,910518,8.0,1,1058782,2930.0,0,2008-03-11 19:45:00,2.0,1058515.0,1.0,2.0,1058914.0,1515.0,1485.0,0.456934,0.543066,1501.291995,1498.708005

In [312]:
combined_fixtures_f[combined_fixtures_f['cur_team_id'] == 8]

,index,cur_team_id,cur_team_score,fixture_id,opp_team_id,opp_team_score,starting_datetime,cur_team_order,cur_team_next,outcome,opp_team_order,opp_team_next,cur_team_r,opp_team_r,cur_p,opp_p,cur_post_r,opp_post_r
26,905229,8.0,2,1058774,2930.0,0,2008-02-19 19:45:00,1.0,1058782.0,1.0,1.0,1058782.0,1500.000000,1500.0,0.500000,0.500000,1515.000000,1485.000000
27,910518,8.0,1,1058782,2930.0,0,2008-03-11 19:45:00,2.0,1058515.0,1.0,2.0,1058914.0,1515.000000,1485.0,0.456934,0.543066,1501.291995,1498.708005
28,916511,8.0,1,1058515,19.0,1,2008-04-02 18:45:00,3.0,1058523.0,0.5,3.0,1058523.0,1501.291995,1515.0,NaN,NaN,NaN,NaN
29,918441,8.0,4,1058523,19.0,2,2008-04-08 18:45:00,4.0,1058448.0,1.0,4.0,1060972.0,NaN,NaN,NaN,NaN,NaN,NaN
30,922762,8.0,1,1058448,18.0,1,2008-04-22 18:45:00,5.0,1058452.0,0.5,5.0,1058452.0,NaN,NaN,NaN,NaN,NaN,NaN
31,925006,8.0,2,1058452,18.0,3,2008-04-30 18:45:00,6.0,1061006.0,0.0,6.0,1058434.0,NaN,NaN,NaN,NaN,NaN,NaN
32,940076,8.0,0,1061006,700.0,0,2008-08-13 19:05:00,7.0,1061013.0,0.5,1.0,1061013.0,NaN,1500.0,NaN,NaN,NaN,NaN
33,943808,8.0,1,1061013,700.0,0,2008-08-27 19:05:00,8.0,1058872.0,1.0,2.0,1059018.0,NaN,NaN,NaN,NaN,NaN,NaN
34,949956,8.0,2,1058872,44.0,1,2008-09-16 18:45:00,9.0,1059078.0,1.0,3.0,1059070.0,NaN,NaN,NaN,NaN,NaN,NaN
35,954996,8.0,3,1059078,682.0,1,2008-10-01 18:45:00,10.0,1059219.0,1.0,2.0,1059211.0,NaN,NaN,NaN,NaN,NaN,NaN
36,961191,8.0,1,1059219,7980.0,1,2008-10-22 18:45:00,11.0,1059287.0,0.5,5.0,1059287.0,NaN,NaN,NaN,NaN,NaN,NaN
37,965649,8.0,1,1059287,7980.0,1,2008-11-04 19:45:00,12.0,1059475.0,0.5,6.0,1059481.0,NaN,NaN,NaN,NaN,NaN,NaN
38,971705,8.0,1,1059475,44.0,0,2008-11-26 19:45:00,13.0,1059540.0,1.0,7.0,1058958.0,NaN,NaN,NaN,NaN,NaN,NaN
39,974743,8.0,3,1059540,682.0,1,2008-12-09 19:45:00,14.0,1058802.0,1.0,6.0,1061449.0,NaN,NaN,NaN,NaN,NaN,NaN
40,819983,8.0,1,1058802,3468.0,0,2009-02-25 19:45:00,15.0,1058809.0,1.0,9.0,1058809.0,NaN,NaN,NaN,NaN,NaN,NaN
41,823975,8.0,4,1058809,3468.0,0,2009-03-10 19:45:00,16.0,1058527.0,1.0,10.0,1058967.0,NaN,NaN,NaN,NaN,NaN,NaN
42,833058,8.0,1,1058527,18.0,3,2009-04-08 18:45:00,17.0,1058534.0,0.0,16.0,1058534.0,NaN,NaN,NaN,NaN,NaN,NaN
43,835387,8.0,4,1058534,18.0,4,2009-04-14 18:45:00,18.0,1059090.0,0.5,17.0,1058450.0,NaN,NaN,NaN,NaN,NaN,NaN
44,869723,8.0,1,1059090,396.0,0,2009-09-16 18:45:00,19.0,1059171.0,1.0,7.0,1059161.0,NaN,NaN,NaN,NaN,NaN,NaN
45,874501,8.0,0,1059171,109.0,2,2009-09-29 18:45:00,20.0,1059326.0,0.0,10.0,1059337.0,NaN,NaN,NaN,NaN,NaN,NaN
46,880956,8.0,1,1059326,79.0,2,2009-10-20 18:45:00,21.0,1059543.0,0.0,15.0,1059543.0,NaN,NaN,NaN,NaN,NaN,NaN
47,885629,8.0,1,1059543,79.0,1,2009-11-04 19:45:00,22.0,1059635.0,0.5,16.0,1059625.0,NaN,NaN,NaN,NaN,NaN,NaN
48,890866,8.0,1,1059635,396.0,0,2009-11-24 19:45:00,23.0,1060977.0,1.0,11.0,1060832.0,NaN,NaN,NaN,NaN,NaN,NaN
49,894167,8.0,1,1060977,109.0,2,2009-12-09 19:45:00,24.0,1058970.0,0.0,14.0,1058812.0,NaN,NaN,NaN,NaN,NaN,NaN
50,259618,8.0,2,1058970,2742.0,1,2014-09-16 18:45:00,25.0,1059225.0,1.0,13.0,1059236.0,NaN,NaN,NaN,NaN,NaN,NaN
51,266165,8.0,0,1059225,468.0,1,2014-10-01 18:45:00,26.0,1059400.0,0.0,38.0,1059390.0,NaN,NaN,NaN,NaN,NaN,NaN
52,274333,8.0,0,1059400,3468.0,3,2014-10-22 18:45:00,27.0,1059496.0,0.0,58.0,1059496.0,NaN,NaN,NaN,NaN,NaN,NaN
53,279950,8.0,0,1059496,3468.0,1,2014-11-04 19:45:00,28.0,1060506.0,0.0,59.0,1060516.0,NaN,NaN,NaN,NaN,NaN,NaN
54,286809,8.0,2,1060506,2742.0,2,2014-11-26 19:45:00,29.0,1060660.0,0.5,17.0,1060689.0,NaN,NaN,NaN,NaN,NaN,NaN
55,290856,8.0,1,1060660,468.0,1,2014-12-09 19:45:00,30.0,5402571.0,0.5,42.0,1058844.0,NaN,NaN,NaN,NaN,NaN,NaN
56,753628,8.0,2,5402571,2726.0,1,2017-08-15 18:45:00,31.0,5402572.0,1.0,1.0,5402572.0,NaN,1500.0,NaN,NaN,NaN,NaN
57,595372,8.0,4,5402572,2726.0,2,2017-08-23 18:45:00,32.0,5932768.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,697373,8.0,2,5932768,676.0,2,2017-09-13 18:45:00,33.0,5932776.0,0.5,29.0,5932775.0,NaN,NaN,NaN,NaN,NaN,NaN
59,17131,8.0,1,5932776,2712.0,1,2017-09-26 18:45:00,34.0,5932792.0,0.5,10.0,5932791.0,NaN,NaN,NaN,NaN,NaN,NaN
60,627546,8.0,7,5932792,2973.0,0,2017-10-17 18:45:00,35.0,5932816.0,1.0,37.0,5932816.0,NaN,NaN,NaN,NaN,NaN,NaN
61,666805,8.0,3,5932816,2973.0,0,2017-11-01 19:45:00,36.0,5932824.0,1.0,38.0,5932823.0,NaN,NaN,NaN,NaN,NaN,NaN
62,685658,8.0,3,5932824,676.0,3,2017-11-21 19:45:00,37.0,5932848.0,0.5,33.0,5932847.0,NaN,NaN,NaN,NaN,NaN,NaN
63,760978,8.0,7,5932848,2712.0,0,2017-12-06 19:45:00,38.0,8801069.0,1.0,14.0,10405611.0,NaN,NaN,NaN,NaN,NaN,NaN
64,659570,8.0,5,8801069,652.0,0,2018-02-14 19:45:00,39.0,8801070.0,1.0,69.0,8801070.0,NaN,NaN,NaN,NaN,NaN,NaN
65,778586,8.0,0,8801070,652.0,0,2018-03-06 19:45:00,40.0,10306070.0,0.5,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,731839,8.0,3,10306070,9.0,0,2018-04-04 18:45:00,41.0,10306071.0,1.0,53.0,10306071.0,NaN,NaN,NaN,NaN,NaN,NaN
67,656044,8.0,2,10306071,9.0,1,2018-04-10 18:45:00,42.0,10321448.0,1.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,856491,8.0,5,10321448,37.0,2,2018-04-24 18:45:00,43.0,10321504.0,1.0,47.0,10321504.0,NaN,NaN,NaN,NaN,NaN,NaN
69,983153,8.0,2,10321504,37.0,4,2018-05-02 18:45:00,44.0,10324398.0,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,981247,8.0,1,10324398,3468.0,3,2018-05-26 18:45:00,45.0,NaN,0.0,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
#dupes = combined_fixtures[(combined_fixtures['fixture_order'] - combined_fixtures['fixture_order'].apply(np.floor)) > 0].sort_values('starting_datetime')`b
#dupes.to_csv('duplicate_fixtures')

In [92]:
fixtures = pd.merge(fixtures, combined_fixtures[['fixture_order', 'fixture_id', 'team_id']],\
                    how='left', left_on=['localteam_id','fixture_id'], right_on = ['team_id','fixture_id'])\
                .drop(['team_id'], axis=1)\
                .rename(index=str, columns={'fixture_order': 'localteam_order'})

In [93]:
fixtures = pd.merge(fixtures, combined_fixtures[['fixture_order', 'fixture_id', 'team_id']],\
                    how='left', left_on=['visitorteam_id','fixture_id'], right_on = ['team_id','fixture_id'])\
                .drop(['team_id'], axis=1)\
                .rename(index=str, columns={'fixture_order': 'visitorteam_order'})

In [94]:
fixtures = fixtures.sort_values('starting_datetime')

In [106]:
#assign initial rating to first game played by all teams
fixtures['localteam_rating'] = np.where(fixtures['localteam_order'] == 1, 1500, np.nan)
fixtures['visitorteam_rating'] = np.where(fixtures['visitorteam_order'] == 1, 1500, np.nan)

In [107]:
fixtures.head()

,fixture_id,localteam_id,localteam_name,visitorteam_id,visitorteam_name,localteam_score,visitorteam_score,starting_datetime,league_name,country_name,fifa_name,season_name,outcome,localteam_order,visitorteam_order,localteam_rating,visitorteam_rating
906067,22909,50,Torquay United,185,Exeter City,1,0,2008-01-01 12:00:00,Vanarama National League,England,"ENG,NIR,SCO,WAL",2007/2008,1.0,1.0,1.0,1500.0,1500.0
906074,654189,1244,DPMM FC,3347,Kedah,2,0,2008-01-01 12:45:00,Super League,Malaysia,MAS,2007/2008,1.0,1.0,1.0,1500.0,1500.0
906073,654188,1908,Negeri Sembilan,2276,Johor Darul Ta'zim,2,0,2008-01-01 12:45:00,Super League,Malaysia,MAS,2007/2008,1.0,1.0,1.0,1500.0,1500.0
906072,654187,3446,Perak,3398,Sarawak,5,0,2008-01-01 12:45:00,Super League,Malaysia,MAS,2007/2008,1.0,1.0,1.0,1500.0,1500.0
906068,5881,11,Fulham,18,Chelsea,1,2,2008-01-01 12:45:00,Premier League,England,"ENG,NIR,SCO,WAL",2007/2008,0.0,1.0,1.0,1500.0,1500.0

In [256]:
def Probability(rating1, rating2):
 
    return 1.0 * 1.0 / (1 + 1.0 * math.pow(10, 1.0 * (rating1 - rating2) / 400))

In [109]:
def EloRating(Ra, Rb, K, d):

    # To calculate the Winning
    # Probability of Player A
    Pa = Probability(Rb, Ra)
 
    # To calculate the Winning
    # Probability of Player B
    Pb = Probability(Ra, Rb)
 
    # Case -1 When Player A wins
    # Updating the Elo Ratings
    if (d == 1) :
        Ra = Ra + K * (1 - Pa)
        Rb = Rb + K * (0 - Pb)
     
 
    # Case -2 When Player B wins
    # Updating the Elo Ratings
    else :
        Ra = Ra + K * (0 - Pa)
        Rb = Rb + K * (1 - Pb)
    
    return localteam_rating_post=Ra, visitorteam_rating_post=Rb
     
    ##    print("Updated Ratings:-")
    ##    print("Ra =", round(Ra, 6)," Rb =", round(Rb, 6))

In [111]:
test = fixtures[(fixtures['localteam_order'] == 1) & (fixtures['visitorteam_order'] == 1)]

In [115]:
test.apply(EloRating(test['localteam_rating'], test['visitorteam_rating'], 30, test['outcome']))

TypeError: cannot convert the series to <class 'float'>

In [120]:
test_onerow = test[0:1]

In [123]:
Probability(test_onerow['localteam_rating'], test_onerow['visitorteam_rating'])

0.5

In [128]:
test['p_localteam'] = test[['fixture_id', 'visitorteam_rating', 'localteam_rating']].apply(Probability)

TypeError: ("Probability() missing 1 required positional argument: 'rating2'", 'occurred at index fixture_id')

In [ ]:
def elo(data
# rank fixtures played by each team
    
# calcul


# Function to calculate the Probability
def Probability(rating1, rating2):
 
    return 1.0 * 1.0 / (1 + 1.0 * math.pow(10, 1.0 * (rating1 - rating2) / 400))
 
 
# Function to calculate Elo rating
# K is a constant.
# d determines whether
# Player A wins or Player B. 

def EloRating(Ra, Rb, K, d):

    # To calculate the Winning
    # Probability of Player A
    Pa = Probability(Rb, Ra)
 
    # To calculate the Winning
    # Probability of Player B
    Pb = Probability(Ra, Rb)
 
    # Case -1 When Player A wins
    # Updating the Elo Ratings
    if (d == 1) :
        Ra = Ra + K * (1 - Pa)
        Rb = Rb + K * (0 - Pb)
     
 
    # Case -2 When Player B wins
    # Updating the Elo Ratings
    else :
        Ra = Ra + K * (0 - Pa)
        Rb = Rb + K * (1 - Pb)
     
 
    print("Updated Ratings:-")
    print("Ra =", round(Ra, 6)," Rb =", round(Rb, 6))
 
# Driver code
 
# Ra and Rb are current ELO ratings
Ra = 1200
Rb = 1000
K = 30
d = 1
EloRating(Ra, Rb, K, d)
 
# This code is contributed by
# Smitha Dinesh Semwal